<div class="container">

    <div class="header">
        <div class="page-header text-center">
            <h1 class="h1-custom">The Cupcake Bake Shop</h1>
        </div>
    </div>

  {{outlet}}

</div>
