<div class="container">

    <div class="header hidden-xs">
        <div class="page-header text-center">
            <h1 class="h1-custom">The Cupcake Bake Shop</h1>
        </div>
    </div>

  {{outlet}}

</div>

<div class="footer hidden-xs">
    <div class="text-center">
        <p>Built by <a href="mailto:dine.bennett@gmail.com">Diné</a> using <a href="http://emberjs.com/">ember.js</a> / Inspired by <a href="http://www.yuppiechef.com/">Yuppiechef</a> and <a href="http://ao.com/">ao.com</a></p>
    </div>
</div>
